body {
    background-color: #192f5e;
    font-family: sans-serif;
    color: #f5f5f5;
}

header {
    background-color: #fff;
    padding: 1rem;
}

.flex-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

header a {
    color: #3f3f3f;
    display: block;
    text-decoration: none;
    
}

.menu a:hover,
.menu a:active {
    background-color: gainsboro;
    border-radius: 5px;
}

.menu li {
    line-height: 2.5rem;
    text-align: center;
}

/* Style the default nav in it's showing state. Starting with the mobile view, style
the layout and links for how they will look when visible*/

