body {
    background-color: #192f5e;
    font-family: sans-serif;
    color: #f5f5f5;
}

/* Style the default nav in it's showing state. Starting with the mobile view, style
the layout and links for how they will look when visible*/


header {
    background-color: #fff;
    padding: 1rem;
}

.flex-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

/*p {
    color: #d5e294;
    border-bottom: 2px solid  #d5e294;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 1.777rem;
}*/


header a {
    color: #3f3f3f;
    display: block;
    text-decoration: none;
    
}

.menu a:hover,
.menu a:active {
    background-color: gainsboro;
    border-radius: 5px;
}

.menu li {
    line-height: 2.5rem;
    text-align: center;
}

button {
    background-color: #fff;
    border: none;
}

/* Step 2: Now we can hide the menu.Once it's hidden this is the default load stage. 
If using display: none, that property can't be transitioned. */
header nav {
    display: none;
    transition: display 10s ease-in-out;
}

/* Step 3: Creat a special class that will show the menu. This class will only exist
in the css file for now. The Javasript will add this to the markup for us.  */
.show-nav {
    display:block;
}

/*section {
    padding: 3.125rem;
    text-align: center;
    text-transform: uppercase;
}*/




